<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-ballerina-heading" data-cy="BallerinaCreateUpdateHeading" jhiTranslate="balletApp.ballerina.home.createOrEditLabel">
        Create or edit a Ballerina
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="balletApp.ballerina.id" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.firstName" for="field_firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.lastName" for="field_lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.email" for="field_email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('email')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.classLevel" for="field_classLevel">Class Level</label>
          <input
            type="number"
            class="form-control"
            name="classLevel"
            id="field_classLevel"
            data-cy="classLevel"
            formControlName="classLevel"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.pointeShoeBrand" for="field_pointeShoeBrand">Pointe Shoe Brand</label>
          <input
            type="text"
            class="form-control"
            name="pointeShoeBrand"
            id="field_pointeShoeBrand"
            data-cy="pointeShoeBrand"
            formControlName="pointeShoeBrand"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="balletApp.ballerina.pointeShoeSize" for="field_pointeShoeSize">Pointe Shoe Size</label>
          <input
            type="number"
            class="form-control"
            name="pointeShoeSize"
            id="field_pointeShoeSize"
            data-cy="pointeShoeSize"
            formControlName="pointeShoeSize"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
